.root,
.containerStyle,
html,
body {
  height: 100%;
  margin: 0;
  min-width: 370px;
}

.containerStyle,
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.minWidth {
  min-width: 370px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: purple;
  justify-content: flex-end;
  width: 100%;
  flex-grow: 1;
}

.resetButton {
  display: flex;
  background-color: green;
}

.timer {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  font-family: monospace;
  margin-top: 50px;
}

.gameBoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 80px;
  flex-grow: 1;
  width: 100%;
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}


.bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
  /* or: Xms */
  animation-iteration-count: 2;
  animation-direction: alternate;
  /* or: normal */
  animation-timing-function: ease-out;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
  /* or: backwards, both, none */
  animation-delay: 0s;
  /* or: Xms */
}

@keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}

.flip {
  animation-name: flip;
  animation-duration: 0.5s;
  /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: alternate;
  /* or: normal */
  animation-timing-function: ease-out;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
  /* or: backwards, both, none */
  animation-delay: 0s;
  /* or: Xms */
}

.flipGreen {
  animation-name: flipGreen;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.flipGold {
  animation-name: flipGold;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.wordRow .animationChild:nth-child(1) {
  animation-delay: 500ms;
}

.wordRow .animationChild:nth-child(2) {
  animation-delay: 1000ms;
}

.wordRow .animationChild:nth-child(3) {
  animation-delay: 1500ms;
}

.wordRow .animationChild:nth-child(4) {
  animation-delay: 2000ms;
}

.wordRow .animationChild:nth-child(5) {
  animation-delay: 2500ms;
}

@keyframes flip {
  from {
    background-color: dodgerblue;
    transform: rotateY(0deg);
  }

  to {
    background-color: black;
    transform: rotateY(360deg);
  }
}

@keyframes flipGreen {
  from {
    background-color: dodgerblue;
    transform: rotateY(0deg);
  }

  to {
    background-color: green;
    transform: rotateY(360deg);
  }
}

@keyframes flipGold {
  from {
    background-color: dodgerblue;
    transform: rotateY(0deg);
  }

  to {
    background-color: #ECA400;
    transform: rotateY(360deg);
  }
}

.updateKeyColorBlack {
  animation-name: updateKeyColorBlack;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.updateKeyColorGreen {
  animation-name: updateKeyColorGreen;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@keyframes updateKeyColorBlack {
  from {
    background-color: gray;
  }

  to {
    background-color: black;
  }
}

@keyframes updateKeyColorGreen {
  from {
    background-color: gray;
  }

  to {
    background-color: green;
  }
}

.jump {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.rowHighlight {
  background-color: #cfe2ff;
}

.buttonOffset {
  margin-top: 20px;
}

@keyframes jump {
  to {
    transform: translateY(-20px)
  }
}

.gamePiece {
  display: flex;
  color: white;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  height: 60px;
  width: 60px;
  /* min-height: 30px;
  min-width: 30px; */
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .gameBoardContainer {
    margin-bottom: 15px;
  }

  .timer {
    font-size: 35px;
  }
}

/*
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */